@charset "utf-8";
/* CSS Document */

/*
@font-face {
    font-family: 'Mitra';
    src: url('../font/MitraWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Mitra';
    src: url('../font/MitraWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Nazanin';
    src:  url('../font/NazaninWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Nazanin';
    src:  url('../font/NazaninWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src:  url('../font/YekanWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yekan';
    src:  url('../font/YekanWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

*/
@font-face {
    font-family: 'Roya';
    src: url('../font/RoyaWeb-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Roya';
    src: url('../font/RoyaWeb-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}


/*  CSS Reset  */

/**
 * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
 * http://cssreset.com
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*My CSS reset*/

a, a:hover {text-decoration: none !important; }


/* Global Style */

body {background-color: #ecf0f1; color: #333; font: 14px/22px tahoma; }
a {color: #3498db;}
a:hover {color: #2980b9}
p {margin: 0 0 10px 0;}

.margin-top-20 {margin-top: 20px;}
.margin-bottom-10 {margin-bottom: 10px}
.no-padding {padding: 0!important}

.title {display: block; border-bottom: 3px solid #eee; padding-bottom: 8px; margin-bottom: 20px; color: #4c7ed3;
          font: 24px/22px 'Roya',tahoma;}


.thumbnail {border-radius: 0;}
.thumbnail:hover {border: 1px solid gray; }

.prod-caption {background: #fbfbfb; border-top: 1px solid #ddd; }

.btn {border-radius: 0;}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {border-radius: 0;}
.btn-group>.btn:last-child:not(:first-child), .btn-group>.dropdown-toggle:not(:first-child) {border-radius: 0;}


/* Menu */

.have-sub i {font-size: 10px; padding-top: 5px;}

/*  Index  */


.header-logotype {font: 24px/22px 'Roya'}
.Slogan {font-size: 18px;}

.btn-group-cart, .btn {width: 100%}
.btn-cart-text {font: 18px/24px 'Roya' ;padding-right: 5px;}
.cart-content {}
ul.cart-content {min-width: 330px; }
ul.cart-content b {display: block; color: #3498db;}

.navbar-header {font: 20px/24px 'Roya',tahoma !important; }
.navbar {background-color: #4a4a4a; color: #fff; margin-bottom: 0; border-radius: 0;}
.navbar li a {font: 18px/24px 'Roya',tahoma ;color: #fff !important; }
.navbar li a:hover {background-color: #428bca!important}

.main-container {background: #fff; padding-top: 20px;}
.panel-categories .panel-heading {  border-top: 1px solid #ddd; }
.panel-categories .panel-heading:first-child {   border-top: 0; }

/* Slider */

.slider {direction: ltr;}
.bx-wrapper img {width: 100%;}
.bx-wrapper .bx-caption span {direction: rtl; text-align: right; font: 14px/22px tahoma;}




/* Footer */

footer {background: #313131; color: #eee;}
footer h4 {border-bottom: 1px solid #5d5d5d; padding: 10px 0 10px 0; font: 20px/22px 'Roya',tahoma;}
footer .column ul {list-style: none; padding: 0;}
footer .column a {color: #a09f9f; -webkit-transition: all 3s ease-in; -moz-transition: all 3s; -ms-transition: all 3s; -o-transition: all 3s; transition: all 0.5s;}
footer .column a:hover {color: #eee; padding-right: 5px;}
footer .copyright {padding: 10px; color: #ccc;}

.back-top {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 30px;
  background: #555;
  color: #fff;
  height: 23px;
}
